<!-- -----------------------------------
Name: Fred Butoma
Assignment 4
File: footer.html
Purpose: Footer template used on all website's pages
--------------------------------------->

<footer class="centered">
    <!--    <hr>-->
    <!-- {{footertitle}} is a Mustache variable and will be replaced
    with the value from the associative array value from index.php-->
    <div class="footer-body">
        <div>{{footertitle}}</div>
        <div>Local Server Time: {{localtime}}</div>
    </div>
</footer>

</body>
</html>
